@font-face {
    font-family: Norse;
    src: url(Norse-Bold.otf);
}

html {
   display: flex;
   margin: 0;
   padding: 0;
}

body {
    margin: 0;
    padding: 0;
    flex-direction: row;
    display: flex;
    height: 98vh;
    width: 100vw;
    color: #efefef;
    border: blue 5px solid;
}

h1 {
    font-family: Norse;
    font-size: 100px;
}

#left-side {
    background: url(image/background.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: red 5px solid;
    flex: 1;
}

#left-side img {
    height: 101px;
    width: 76px;
}

#right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    margin: 0;
    border: red 5px solid;
    flex: 2;
}