@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@font-face {
    font-family: Norse;
    src: url(Norse-Bold.otf);
}

html {
   display: flex;
   margin: 0;
   padding: 0;
   font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    flex-direction: row;
    display: flex;
    height: 100vh;
    width: 100vw;
    color: #efefef;;
}

h1 {
    font-family: Norse;
    font-size: 100px;
}

#left-side {
    background: url(image/background.png);
    background-size: 459px;
    background-repeat: no-repeat;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex: 1;
}

#left-side img {
    height: 101px;
    width: 76px;
    margin: 0;
}

#left-side h1 {
    position: relative;
    background-color: rgba(0,0,0,0.5);;
    display: flex;
    justify-content: center;
    top: -100px;
}

#left-side p {
    position: relative;
    top: 192px;
    font-weight: bold;
    text-align: center;
    color: #efefef;
}

#left-side a {
    color: #efefef;
}

#right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    margin: 0;
    flex: 2;
}
